allow vendor_hvdcp sysfs_batteryinfo:{ file lnk_file } rw_file_perms;
allow vendor_hvdcp sysfs_batteryinfo:dir r_dir_perms;
set_prop(vendor_hvdcp,ctl_stop_prop);
